[submodule "lib/tools"]
	path = lib/tools
	url = https://github.com/xinxinw1/tools.git
[submodule "lib/ajax"]
	path = lib/ajax
	url = https://github.com/xinxinw1/ajax.git
[submodule "lib/prec-math"]
	path = lib/prec-math
	url = https://github.com/xinxinw1/prec-math.git
[submodule "lib/lisp-tools"]
	path = lib/lisp-tools
	url = https://github.com/xinxinw1/lisp-tools.git
[submodule "lib/lisp-parse"]
	path = lib/lisp-parse
	url = https://github.com/xinxinw1/lisp-parse.git
[submodule "lib/lisp-exec"]
	path = lib/lisp-exec
	url = https://github.com/xinxinw1/lisp-exec.git
[submodule "lib/lisp-core"]
	path = lib/lisp-core
	url = https://github.com/xinxinw1/lisp-core.git
