[submodule "lib/tools"]
	path = lib/tools
	url = ../tools
[submodule "lib/ajax"]
	path = lib/ajax
	url = ../ajax
[submodule "lib/prec-math"]
	path = lib/prec-math
	url = ../prec-math
[submodule "lib/lisp-tools"]
	path = lib/lisp-tools
	url = ../lisp-tools
[submodule "lib/lisp-parse"]
	path = lib/lisp-parse
	url = ../lisp-parse
[submodule "lib/lisp-exec"]
	path = lib/lisp-exec
	url = ../lisp-exec
[submodule "lib/lisp-core"]
	path = lib/lisp-core
	url = ../lisp-core
[submodule "lib/lisp-compile-basic"]
	path = lib/lisp-compile-basic
	url = ../lisp-compile-basic
